.footer {
    background: white;
    color: var(--gray-100);
    display: grid;
    justify-content: center;
    align-items: center;
    height: 12.5rem;
    padding: 1rem;
    gap: 1rem;
}

.footer p {
    color: var(--gray-700);
}

.footerImg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 1024px) {
    .footerImg {
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .footer p {
        color: var(--gray-700);
    }
}