:root {
    --white: #ffffff;
    --gray-100: #e1e1e6;
    --gray-300: #c4c4cc;
    --gray-400: #5d5d61;
    --gray-700: #29292e;
    --gray-900: #121214;
    --green-300: #00b327;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, textarea, button {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1rem;
}